.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head :last-child{
    background-color: gold;
}

.head :first-child{
    color: coral;
}

.div2 :first-child{
    background-color: darkgreen;
}

.div2 p{
    color: blue;
}